<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head> 
    <title>Vehicle Insurance System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>

    <div class="header">
        <h1>Vehicle Insurance System</h1>
        <h2> The pinnacle of vehicle insurance </h2>
    </div>

    <div class="navbar">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/register}">Register</a>
        <a th:href="@{/userlogin}">Login</a>
        <a th:href="@{/account}" class="active">Account</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>The best in the vehicle insurance industry</h2>
        </div>
        <div class="main">

            <h2>Insurance Details</h2>
            <p>Please choose which one of your vehicles to apply for insurance:</p>
            <h2>Vehicle Details</h2>

            <table>
                <tr>
                  <th>Vehicle Number</th>
                  <th>Vehicle Type</th>
                  <th>Vehicle Model</th>
                  <th>Registered City</th>
                  <th>Insurance Status</th>
                </tr>
                <tr th:each="vehicle : ${vehicles}">
                  <td th:text="${vehicle.vehicleNumber}"></td>
                  <td th:text="${vehicle.vehicleType}"></td>
                  <td th:text="${vehicle.vehicleModel}"></td>
                  <td th:text="${vehicle.registeredCity}"></td>
                  <td th:text="${vehicle.insuranceStatus}"></td>
                </tr>
            </table>

            <br>

            <h2>Policy Details</h2>
            <b><p th:text="${logger.errorMessage}" /></b>
            <div th:if="${policiesExists == true}">
              <table>
                <tr>
                  <th>Vehicle Number</th>
                  <th>Insurance Policy</th>
                </tr>
                <tr th:each="policy : ${policies}">
                  <td th:text="${policy.vehicleNumber}"></td>
                  <td th:text="${policy.insurancePolicy}"></td>
                </tr>
              </table>
            </div>

            <br>

            <a th:href="@{/account/register_vehicle}">Register another vehicle</a>

            <br></br>

            <a th:href="@{/account/register_policy}">Apply for an insurance policy</a>

            <br></br>

            <a th:href="@{/account}">Go back to the account page</a>

        </div>
    </div>

    <div class="footer">
        <h2>Vehicle Insurance आसान बना दिया (made easy)</h2>
      </div>

</body>

</html>