<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head> 
    <title>Vehicle Insurance System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>

    <div class="header">
        <h1>Vehicle Insurance System</h1>
        <h2> The pinnacle of vehicle insurance </h2>
    </div>

    <div class="navbar">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/register}">Register</a>
        <a th:href="@{/userlogin}">Login</a>
        <a th:href="@{/account}" class="active">Account</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>The best in the vehicle insurance industry</h2>
        </div>
        <div class="main">
            <h2>Insurance Details</h2>
            <p>Please fill out the following form to register your vehicle:</p>
            <form th:action="@{register_vehicle}" th:object="${vehicle_details}" method="post">
                
                <div class = "p_form">
                    <label>Vehicle Number: </label>
                    <input type="text" th:field="*{vehicleNumber}" />
                </div>
                
                <div class = "p_form">
                    <label>Vehicle Type: </label>
                    <select th:field="*{vehicleType}">
                        <option value="Two Wheeler">Two Wheeler</option>
                        <option value="Four Wheeler">Four Wheeler</option>
                    </select>
                </div>

                <div class = "p_form">
                    <label>Vehicle Model: </label>
                    <input type="text" th:field="*{vehicleModel}" />
                </div>

                <div class = "p_form">
                    <label>Registered City: </label>
                    <input type="text" th:field="*{registeredCity}" />
                </div>

                <p>
                    <input type="submit" value="Submit" /> 
                </p>

            </form>
        </div>
    </div>

    <div class="footer">
        <h2>Vehicle Insurance आसान बना दिया (made easy)</h2>
      </div>

</body>

</html>