<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head> 
    <title>Vehicle Insurance System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>

    <div class="header">
        <h1>Vehicle Insurance System</h1>
        <h2> The pinnacle of vehicle insurance </h2>
    </div>

    <div class="navbar">
        <a th:href="@{home}">Home</a>
        <a th:href="@{register}">Register</a>
        <a th:href="@{userlogin}">Login</a>
        <a th:href="@{account}" class="active">Account</a>
        <div th:if="${isAdmin}">
            <a th:href="@{admin}">Admin</a>
        </div>
    </div>

    <div class="row">
        <div class="side">
            <h2>The best in the vehicle insurance industry</h2>
        </div>
        <div class="main">

            <h2>Account</h2>

            <div th:if="${!userExists}">
                <p>You have not logged in.</p>
            </div>

            <div th:if="${userExists}">

                <p th:text="'Welcome, ' + ${account.firstName} + ' ' + ${account.lastName}" />
                <p th:text="'Address: ' + ${account.address}" />
                <p th:text="'City: ' + ${account.city}" />
                <p th:text="'Your username: ' + ${account.username}" />

                <a th:href="@{account/insurance}">Access your registered vehicles and insurance policies</a>

                <form action="#" th:action="@{/account}" method="post">
                    <p><input type="submit" value="Logout" /></p>
                </form>

            </div>

        </div>
    </div>

    <div class="footer">
        <h2>Vehicle Insurance आसान बना दिया (made easy)</h2>
      </div>

</body>

</html>