<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head> 
    <title>Vehicle Insurance System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css" /> 
</head>

<body>

    <div class="header">
        <h1>Vehicle Insurance System</h1>
        <h2> The pinnacle of vehicle insurance </h2>
    </div>

    <div class="navbar">
        <a th:href="@{home}">Home</a>
        <a th:href="@{register}">Register</a>
        <a th:href="@{userlogin}" class="active">Login</a>
        <a th:href="@{account}">Account</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>The best in the vehicle insurance industry</h2>
        </div>
        <div class="main">
            <h2>User Not Found</h2>
            <h5>Please try again.</h5>
            <a th:href="@{userlogin}" class="active">Login</a>
        </div>
    </div>

    <div class="footer">
        <h2>Vehicle Insurance आसान बना दिया (made easy)</h2>
      </div>

</body>

</html>