<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head> 
    <title>Vehicle Insurance System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css" /> 
</head>

<body>

    <div class="header">
        <h1>Vehicle Insurance System</h1>
        <h2> The pinnacle of vehicle insurance </h2>
    </div>

    <div class="navbar">
        <a th:href="@{home}">Home</a>
        <a th:href="@{register}">Register</a>
        <a th:href="@{userlogin}" class="active">Login</a>
        <a th:href="@{account}">Account</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>The best in the vehicle insurance industry</h2>
        </div>
        <div class="main">
            <h2>User Login</h2>
            <h5>Please enter your username and password:</h5>
            <form action="#" th:action="@{/userlogin}" th:object="${userlogin}" method="post">
            
                <div class = "p_form">
                    <label>Username: </label>
                    <input type="text" th:field="*{username}" />
                </div>

                <div class = "p_form">
                    <label>Password: </label>
                    <input type="text" th:field="*{password}" />
                </div>

                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
        </div>
    </div>

    <div class="footer">
        <h2>Vehicle Insurance आसान बना दिया (made easy)</h2>
      </div>

</body>

</html>